* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282D35;

}


/* Navbar styles */
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

/* Main Section Styles */

main {
  padding: 57px 27px;
  color: #FFFFFF;
  background-image: url(./images//react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  font-size: 39px;
  letter-spacing: -0.05em;
  margin: 0;
}

.main--facts {
  margin-top: 46px;
  max-width: 350px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

/* Footer Section */
.footer {
  /* display: flex; */
  color: #61DAFB;
  /* align-items: center; */
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;

}